.textarea-rows-lg {
  height: 300px !important;
}

.textarea-rows-md {
  height: 200px !important;
}

.textarea-rows-sm {
  height: 100px !important;
}

#leaflet-map-view {
  height: 550px;
}

#leaflet-map-create {
  height: 550px;
}