version: '3'
services:
    nginx-hzp:
        environment:
            APP_ENV: 'prod'
        ports:
            - 80:80
    php-hzp:
        environment:
            APP_ENV: 'prod'
    mariadb-hzp:
        environment:
            APP_ENV: 'prod'
        ports:
            - 41306:3306
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        links:
            - mariadb-hzp
        environment:
            PMA_HOST: 'mariadb-hzp'
        ports:
            - 41081:80
