version: '3'
services:
    nginx-hzp:
        ports:
            - 41080:80
    mariadb-hzp:
        ports:
            - 41306:3306
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        links:
            - mariadb-hzp
        environment:
            - 'PMA_HOST=mariadb-hzp'
        ports:
            - 41081:80
