{% extends '@root/base.html.twig' %}

{% block title %} Stvori objavu {% endblock %}

{% block body %}
    <section class="section">
        <div class="section-body">
            {% include '@root/_flash_messages.html.twig' %}

            <div class="row">
                <div class="col-lg-6 mt-3">
                    {% if intent|trans == 'looking' %}
                        <h3>Stvaranje objave (POTRAŽNJA)</h3>
                    {% elseif intent|trans == 'offering' %}
                        <h3>Stvaranje objave (PONUDA)</h3>
                    {% endif %}
                </div>

                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            {% include '@root/pages/post/_form.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
