{% extends '@root/base.html.twig' %}

{% block title %}
    {% if intent|trans == 'looking' %}
        Potražnja
    {% elseif intent|trans == 'offering' %}
        Ponuda
    {% endif %}
{% endblock %}

{% block body %}
    <section class="section mt-5 mt-md-5 mt-lg-1 mt-sm-5">
        <div class="section-body">
            {% include '@root/components/_alert.html.twig' %}

            <div class="row">
                <div class="col-lg-4">
                    {% if intent|trans == 'looking' %}
                        <h2>Potražnja</h2>
                    {% elseif intent|trans == 'offering' %}
                        <h2>Ponuda</h2>
                    {% endif %}
                </div>
                <div class="col-sm-12 offset-md-6 col-md-6 offset-lg-2 col-lg-6 mt-3 mt-lg-0">
                    <div class="offset-lg-8 offset-md-1 mb-4">
                        <a href="{{ path('post_create_by_intent', {'intent':intent}) }}"
                           class="btn btn-block btn-lg btn-icon icon-left btn-primary">
                            <i class="far fa-edit"></i>Stvori
                            objavu
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for post in posts %}
                    {% include '@root/components/_posts.html.twig' with {'page': 'list'} %}
                {% else %}
                    <div class="col-12">
                        <h2 class="mx-auto">Stranica je prazna, stvorite prvu objavu..</h2>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <div class="nav-item">
        {{ knp_pagination_render(posts) }}
    </div>
{% endblock %}
