@media screen and (max-width: 1024px) {
    .navbar-bg {
        height: 70px !important;
    }

    .nav-collapse {
        display: none;
    }

    .scale-logo {
        display: none;
    }
}

.scale-logo-mobile {
    padding-top: 10px;
    margin-left: 30px;
    margin-right: 60px;
    width: 100px;
}

.card-max-height {
    height: 50px;
}

.mobile-link-container {
    position: absolute;
    top: 30px;
    right: 10px;
}

.logo-mobile {
    width: 65px;
}

.logo-mobile-text {
    position: absolute;
    font-size: 1.4em;
    top: 22px;
    right: 90px;
}

.logo-mobile-text:hover {
    text-decoration: none;
}

.hzp-logo {
    max-width: 100%;
    height: auto;
}

.scale-logo {
    padding-top: 25px;
    margin-left: 30px;
    margin-right: 60px;
    width: 100px;
}

@media screen and (max-width: 413px) {
    .logo-mobile-text {
        right: 65px;
        font-size: 1.1em;
    }

    .mobile-link-container {
        top: 35px;
    }

    .logo-mobile {
        width: 50px;
    }
}

@media screen and (max-width: 360px) {
    .card-max-height{
        height: 80px;
    }
}